.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-1000);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vmin;
  padding: 0 2vmin;
  font-size: 5vmin;
  text-transform: uppercase;
  z-index: 9999;
  background-color: inherit;
}

header span {
  background: var(--accent-violet);
  background: -webkit-linear-gradient(
    to bottom right,
    var(--accent-violet) 0%,
    var(--accent-main) 80%
  );
  background: -moz-linear-gradient(
    to bottom right,
    var(--accent-violet) 0%,
    var(--accent-main) 80%
  );
  background: linear-gradient(
    to bottom right,
    var(--accent-violet) 0%,
    var(--accent-main) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header span:nth-child(2) {
  font-size: 3vmin;
}

.page {
  width: 100%;
  min-height: 92vmin;
  position: absolute;
  top: 8vmin;
  background-color: inherit;
}

.back-btn {
  all: unset;
  position: fixed;
  bottom: 1vmin;
  left: 2vmin;
  display: flex;
  align-items: center;
  gap: 2vmin;
  text-transform: uppercase;
  background-color: inherit;
  font-size: 3vmin;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-1000);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--dark-200);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-main);
}
