* {
  --dark-1000: #13223f;
  --dark-500: #1a2b4e;
  --dark-300: #385285;
  --dark-200: #1a3772;
  --accent-main: #61dafb;
  --accent-main-washed: #41729f;
  --accent-violet: #b658ff;
  --accent-green: #00973c;
  --accent-orange: #d99614;
  --accent-red: #ff2222;
  --text: #ffffff;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: var(--text);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}
